.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.logo{
  width: 200px;
  color: #f5f7f9c5;
 
}

@keyframes blink {
  10% {
      opacity: 2;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.sub{
  position:absolute;
  color: #c0f7c3;
  margin: 50px 30px 0px ;
  animation: blink 4s infinite;

  
}


.nav-menu{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect{
  padding: 15px 15px;
  border-radius: 50px;
  background: linear-gradient(#DA7C25,#B923E1);
font-size: 20px;
cursor: pointer;
transition: 0.5s;
}

.nav-connect:hover{
  transform: scale(1.05);
}


.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

}

.nav-menu li img{
 display: flex;
 margin: auto; 

}

.link{
  text-decoration: none;
  color: white;
}


.nav-mob-close{
  display: none;
}
.nav-mob-open{
  display: none;
}

/* mobile*/


@media (max-width:768px){
  .navbar{
    margin: 20px 50px;
  }
  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display: block;
    position: relative;
    
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;

  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1F0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}